<!--{template common/header}-->
<div class="blank25"></div>
<div class="rule_main">
     <div class="rule_center">
          <h1>亚洲龙舟联合会第一届亚洲龙舟俱乐部杯第1号信息公告</h1>
          <p>Information Bulletin No. 1 for ADBF 1st Asian Dragon Boat Club Crew Cup</p>
     </div>
     <div class="rule_wrap">
          <p class="area1_title">致亚洲龙舟联合会会员和非会员国家和地区</p>
          <p class="area1_tit"> 根据亚洲龙舟联合会第11次全体代表大会决议，第一届亚洲龙舟俱乐部杯将于2015年10月30日（周五）至11月01日（周日）在中国广东省佛山市佛山新城举行。现将有关事宜通告如下：</p>
          <p class="area1_to">To ADBF Member association/federation and Non-member organizations.</p>
          <p class="area1_name">According to the resolution of the 11th ADBF Congress, the 1st Asian Dragon Boat Club Crew Cup (ACCC) will be held in Foshan New City. Foshan. Guangdong Province of China from Oct 30th (Fri.) to Nov 1st (Sun ), 2015 Please find the information concerned as follows:</p>
     </div>
     <div class="rule_wrap">
          <p class="area2_title"><i class="area2_icon"></i>比赛时间&nbsp;&nbsp;&nbsp;&nbsp;Race Timo</p>
          <p class="area2_tit">2015年10月30日至11月01日</p>
          <p class="area2_name">October 30th to November 1st, 2015</p>
     </div>
     <div class="rule_wrap">
          <p class="area3_title"><i class="area3_icon"></i>地点&nbsp;&nbsp;&nbsp;&nbsp;Venue</p>
          <p class="area3_tit">中国广东省佛山市佛山新城（乐从镇）东平河东大桥河段</p>
          <p class="area3_name">Dongping River Dongping Bridge section. Lecong County. Foshan New City. Foshan. <br/>Guangdong Province of China</p>
     </div>
     <div class="rule_wrap">
          <p class="area4_title"><i class="area4_icon"></i>项目设置&nbsp;&nbsp;&nbsp;&nbsp;Events</p>
          <div class="area4_mian">
               <ul class="area4_ul cl">
                  <li>
                      <p class="area4_tit">22人龙舟混合组100米、500米直道赛</p>
                      <p class="area4_name">Standard Boath（DB22 ) Mixed<br />Class: 100m,500m Straight Race</p>
                  </li>
                  <li>
                      <p class="area4_tit">12人龙舟男子组100米、200米直道赛</p>
                      <p class="area4_name">Small Boat (DB12）Men <br />Class:  100m,200m Straight Race</p>
                  </li>
                  <li>
                      <p class="area4_tit">12人龙舟女子组100米、200米直道赛</p>
                      <p class="area4_name">Small Boat (DB12）Women<br />Class: 100m,200m Straight Race</p>
                  </li>
               </ul>
          </div>
     </div>
     <div class="rule_wrap">
          <p class="area5_title"><i class="area5_icon"></i>参赛单位&nbsp;&nbsp;&nbsp;&nbsp;Participating Teams</p>
          <p class="area5_tit">本次亚俱杯共接受来自亚龙联会员及特邀组织共计16-20个俱乐部报名参赛，各会员协会/联合会限报不多于3个俱乐部，各俱乐部限报1支22人龙舟混合龙舟队。</p>
          <p class="area5_name">This ACCC will accept 16 to 20 clubs from the ADBF Member associations and federations, as well as specially invited club(s) . One Standard Mixed Team per Club, up to Three Clubs can be sanctioned by a Member Association / Federation</p>
     </div>
     <div class="rule_wrap">
          <p class="area6_title"><i class="area6_icon"></i>报名条件与竞赛办法&nbsp;&nbsp;&nbsp;&nbsp;<span>Term and Condition & Competition Method</span></p>
          <div class="area6_tit">
             <p class="cl"><em>（一）</em><span>比赛执行亚洲龙舟联合会审定的竞赛规则，并有关年龄、国籍等要求参照国籍龙舟联合会有关规定执行。</span></p>
             <p class="cl"><em>（二）</em><span>队伍组成为：领队1人，管理1人，教练1-2人，运动员28人。其中男性鼓手、舵手各1人，女性鼓手、舵手各1人，男性划手10人，女性划手10人，替补4人，性别不限。</span></p>
             <p class="cl"><em>（三）</em><span>各俱乐部必须参加22人龙舟混合组100米、500米直道赛和12人龙舟男子组、女子组100米、200米直道赛。</span></p>
             <p class="cl"><em>（四）</em><span>比赛采用坐姿划行。</span></p>
             <p class="cl"><em>（五）</em><span>各队运动员比赛服装颜色、样式一致。</span></p>
             <p class="cl"><em>（六）</em><span>各队自备1面队旗，呈直角三角形，高1米，宽2米，颜色不限，旗上印有XXXXX龙舟俱乐部龙舟队。</span></p>
             <p class="cl"><em>（七）</em><span>比赛的方法和抽签</span></p>
             <p class="cl"><em>&nbsp;</em><span>1.比赛设4条赛道，采取预赛、复赛、半决赛、排位赛、小决赛、决赛的方式进行。</span></p>
             <p class="cl"><em>&nbsp;</em><span>2.预赛分组抽签在领队、教练、裁判长联席会进行。</span></p>
             <p class="cl"><em>&nbsp;</em><span>3.由于比赛场地为自然水域，比赛的赛道、舟号将于赛前在检录处抽签决定。</span></p>
          </div>
          <div class="area6_name">
               <p class="cl"><em>i.</em><span>ADBF Rules of Racing will be adopt Requirements concerning age, nationality will be in accordance with that of IDBF Competition Regulations</span></p>
               <p class="cl"><em>ii.</em><span>Team Composition Team is consisted of: 1 Team Leader, 1 Team Manager,1 to 2 Coaches, 28 Athletes.Athletes include 1 male drummer,1 male helm, 1 female drummer, 1 female helm, 10 male paddlers, 10 female paddlers, and 4 reserves of any sex.</span></p>
               <p class="cl"><em>iii.</em><span>Each club must enter all the 6 events of the ACCC, i.e. Standard Boat Mixed 100m, 500m Straight Race, Small Boat Men & Women 100m, 200m Straight Race</span></p>
               <p class="cl"><em>iv.</em><span>Paddling Position: sitting style only.</span></p>
               <p class="cl"><em>v.</em><span>Athletes' racing jerseys should be in the same color and design within each team.</span></p>
               <p class="cl"><em>vi.</em><span>Each team should bring 1 club flag with club name and logo, right triangle in shape,1m in height, 2m in width, no limitation on flag color</span></p>
               <p class="cl"><em>vii.</em><span>Competition Method and Lane Draw:</span></p>
               <p class="cl"><em>1.</em><span>4 lanes will be set in the racing course. Heat, Repechage. Semi-Final, Tail Race,Minor Final, Grand Final will be conducted.</span></p>
               <p class="cl"><em>2.</em><span>The lane draws are processed during the team leader, coach and race official jointmeeting.</span></p>
               <p class="cl"><em>3.</em><span>Due to the racing course locates in natural water area, the lanes and the boat number will be determined by lane-draw prior to the each race at the marshaling area.</span></p>
          </div>
     </div>
     <div class="rule_wrap">
          <p class="area7_title"><i class="area7_icon"></i>运动员资格&nbsp;&nbsp;&nbsp;&nbsp;Eligibility</p>
          <div class="area6_tit">
               <p class="cl"><em>（一）</em><span>参赛运动员须经医院当年检查证明身体健康，具有着衣游泳200米以上游泳技术。</span></p>
               <p class="cl"><em>（二）</em><span>参赛运动员应在其所在国家/地区自行办理户外人身意外保险，运动员须穿救生衣参加比赛（亦可由领队向大会
          提出申请不穿救生衣参加比赛，安全责任由参赛队自行负担）。</span></p>
          </div>
          <div class="area6_name">
               <p class="cl"><em>i.</em><span>The athletes should provide a healthy certificate issued by hospital and can swim with clothes on for at least 200m.</span></p>
               <p class="cl"><em>ii.</em><span>The athletes should have purchased the Accidental Insurance in their respective countries and regions, and should wear life vest while racing. (Those who wish not to wear life vest, should apply in written, and bear all the responsibility thereafter)</span></p>
          </div>
     </div>
     <div class="rule_wrap">
          <p class="area8_title"><i class="area8_icon"></i>录取名次与奖励</p>
          <ul class="area8_ul">
              <li>
                  <p class="area8_tit">各单项录取前3名颁发奖牌和证书。</p>
                  <p class="area8_name">Top 3 crews of each racing distance will be awarded medals and certificates</p>
              </li>
              <li>
                  <p class="area8_tit">总成绩录取前6名颁发奖杯和证书，第一名获得“亚洲龙舟俱乐部冠军杯”。</p>
                  <p class="area8_name">Top 6 crews of overall ranking will be awarded trophy and certificates Champion will be awarded "Asian Club Crew Champion Cup"</p>
              </li>
              <li>
                  <p class="area8_tit">积分办法：将各项目积分相加，第1名积17分，第2名积15分，第三名积14分，......，依此类推，第16名积1分。如各项积分相等，500米成绩优胜的队伍列前。</p>
                  <p class="area8_name">iii. Points will be given according to the ranking in each racing distance. 1st will be 17 <br />points. 2nd 15, 3rd 14, and so on. 16th 1 point. In case of a tie in <br />the point table. 500m winner will be in higher ranking.</p>
              </li>
          </ul>
     </div>
     <div class="rule_wrap">
          <p class="area9_title"><i class="area9_icon"></i>报名和经费时间要求</p>
          <table border="0" cellpadding="0" cellspacing="0" class="area9_table" width="100%">
                 <colgroup>
                     <col width="160">
                     <col width="310">
                     <col width="auto">
                 </colgroup>
                 <tr>
                     <th>阶段</th>
                     <th>要求</th>
                     <th class="none">截止日期</th>
                 </tr>
                 <tr>
                     <td>初步报名</td>
                     <td>提交初步报名表<br />缴纳报名费500美元/队</td>
                     <td class="none">2015年08月01日</td>
                 </tr>
                 <tr>
                     <td>最终报名</td>
                     <td>提交最终报名表<br />缴纳酒店、餐饮、交通总价的50%订金</td>
                     <td class="none">2015年09月01日</td>
                 </tr>
                 <tr>
                     <td>姓名报名</td>
                     <td>提交姓名报名表<br />缴纳酒店、餐饮、交通剩余款项</td>
                     <td class="none">2015年10月01日</td>
                 </tr>
          </table>
          <div class="area9_name">
               <p>注：</p>
               <p>1. 费用缴纳需通过银行转账方式进行，汇款账户信息在第2号信息公布。</p>
               <p>2. 初步报名时缴纳的报名费可抵扣部分酒店、餐饮、交通费用。</p>
          </div>
          <p class="area9_title" style="margin-top:55px; margin-left:0px;">Entry and Paymen Timelines</p>
          <table border="0" cellpadding="0" cellspacing="0" class="area9_table" width="100%">
                 <colgroup>
                     <col width="160">
                     <col width="350">
                     <col width="auto">
                 </colgroup>
                 <tr>
                     <th>Stage</th>
                     <th>Requirements</th>
                     <th class="none">Deadline Date</th>
                 </tr>
                 <tr>
                     <td>Provisional Entry</td>
                     <td>Submission of the Provisional Entry Form<br/>Payment of Entry Fee at USD 500.00per Team</td>
                     <td class="none">August 1st, 2015</td>
                 </tr>
                 <tr>
                     <td>Confirmed Entry</td>
                     <td>Submission of the Confirmed Entry Form<br />Payment of 50% deposit on Accommodation,<br />Meals, Transportaion Package</td>
                     <td class="none">September 1st, 2015</td>
                 </tr>
                 <tr>
                     <td>Named Entry</td>
                     <td>Submission of the Named Entry Form<br />Payment of balance of the Package</td>
                     <td class="none">October 1st, 2015</td>
                 </tr>
          </table>
          <div class="area9_name">
               <p>Note:</p>
               <p>i. All the payment shall be conducted through wire transfer Bank info will be providedin Information Bulletin No. 2</p>
               <p>ii. Team entry fee paid together with the provisional entry with be regarded as part of the package charge</p>
          </div>
     </div>
     <div class="rule_wrap">
          <p class="area10_title"><i class="area10_icon"></i>经费&nbsp;&nbsp;&nbsp;&nbsp;Expenses</p>
          <div class="area6_tit">
               <p class="cl"><em>（一）</em><span>请各参赛俱乐部于2015年8月1日前将报名费500美元（或等值人民币）汇至组委会指定账户。如在此日期后退赛，报名费不予退还。</span></p>
               <p class="cl"><em>（二）</em><span>比赛期间食宿及酒店往返赛场交通费一揽子标准为每人每天30美元（或等值人民币），已缴纳报名费将抵扣部分酒店食宿交通费用。提前报到、逾期离会和超编人员收费标准请与组委会联系。</span></p>
               <p class="cl"><em>（三）</em><span>组委会提供各俱乐部自广州新白云机场。佛山火车站、广州火车南站至指定酒店免费往返接、送站1次，未入住组委会指定酒店的运动队自理。请于2015年10月20日前将抵离航班、车次、船次通知组委会。</span></p>
               <p class="cl"><em>（四）</em><span>组委会将为参赛队购买赛事期间人身意外保险。</span></p>
               <p class="cl"><em>（五）</em><span>组委会将为遵守大会纪律并完成全部比赛的运动队提供5000美元（或等值人民币）的参赛补助。</span></p>
          </div>
          <div class="area6_name">
               <p class="cl"><em>i.</em><span>Teams are requested to transfer the Entry Fee at the amount of USD 500.00, orequivalent amount in RMB, to the designated account. In case of withdrawal after August 1st, 2015, the entry fee is non-refundable.</span></p>
               <p class="cl"><em>ii.</em><span>The Organizing Committee offers an Accommodation, Meals. Transportation Package at USD 30.00, or equivalent amount in RMB, per person per day.Transportation serves to and fro hotel and race venue during the ACCC period. Team entry fee paid together with the provisional entry with be regarded as part of the Package charge. For early arrival, late departure and supports Package, please contact the O.C. for detail</span></p>
               <p class="cl"><em>iii.</em><span>The O.C. will provide free airport / train station pick-up and seeing-off to designate hotels from Guangzhou New Baiyun Airport. Foshan Railway Station, Guangzhou South Railway Station for teams. Teams not staying in designate hotels shall manage their own transportation Please inform the flight / train / ship no to the O. C. before October 20th, 2015.</span></p>
               <p class="cl"><em>iv.</em><span>The O. C. will purchase Accidental Insurance for the athletes during the ACCC period</span></p>
               <p class="cl"><em>v.</em><span>The O.C. will provide a subsidy at the amount of USD 5000.00 or equivalent amount in RMB, for teams fulfilling all the obligations of the event and completed all the races.</span></p>
          </div>
     </div>
     <div class="rule_wrap">
          <p class="area11_title"><i class="areaa11_icon"></i>大会活动日程</p>
          <table border="0" cellspacing="0" cellpadding="0" class="area11_table" width="100%">
                 <colgroup>
                     <col width="230">
                     <col width="195">
                     <col width="auto">
                 </colgroup>
                 <tr>
                     <th>日期</th>
                     <th class="twos">时间</th>
                     <th class="none">活动</th>
                 </tr>
                 <tr>
                     <td>10月29日<br />星期四</td>
                     <td class="twos">全天</td>
                     <td class="none">运动队报到</td>
                 </tr>
                 <tr>
                     <td rowspan="2">10月30日<br />星期五<br />第一比赛日</td>
                     <td class="twos">上午</td>
                     <td class="none">运动队训练<br />亚洲龙舟联合执委会会议<br />领队教练裁判长联席会</td>
                 </tr>
                 <tr>
                     <td class="twos">下午<br />14:00 - 17:40</td>
                     <td class="none">100米直道赛<br />12人龙舟男子组、女子组、预赛、复赛、半决赛<br />22人龙舟混合组</td>
                 </tr>
                 <tr>
                     <td rowspan="2">10月31日<br />星期六<br />第二比赛日</td>
                     <td class="twos">上午<br />09:00 -  11:00</td>
                     <td class="none">200米直道赛<br />12人龙舟男子组、女子组、22人龙舟混合组<br />预赛、复赛、半决赛</td>
                 </tr>
                 <tr>
                     <td class="twos">下午<br />14:00 - 16:00</td>
                     <td class="none">500米直道赛<br />22人龙舟混合预赛、复赛、半决赛</td>
                 </tr>
                 <tr>
                     <td rowspan="2">11月01日<br />星期日<br />第三比赛日</td>
                     <td class="twos">上午<br />09:00 - 11:45</td>
                     <td class="none">开幕式<br />100米、200米、500米直道赛<br />12人龙舟男子组、女子组、22人龙舟混合组<br />排位赛、小决赛、决赛<br />颁奖仪式</td>
                 </tr>
                 <tr>
                     <td class="twos">下午<br />18:30</td>
                     <td class="none">传统龙舟饭，运动队离会</td>
                 </tr>
                 <tr>
                     <td>11月02日<br />星期一</td>
                     <td>中午前</td>
                     <td>运动队、裁判员离会</td>
                 </tr>
          </table>
          <p class="area11_title" style="margin-left:0;padding:64px 0 38px;">Tentative Schedule</p>
          <table border="0" cellspacing="0" cellpadding="0" class="area11_table" width="100%">
                 <colgroup>
                     <col width="230">
                     <col width="195">
                     <col width="auto">
                 </colgroup>
                 <tr>
                     <th>Date</th>
                     <th class="twos">Time</th>
                     <th class="none">Schedule</th>
                 </tr>
                 <tr>
                     <td>Oct. 29th. Tue</td>
                     <td class="twos">All day</td>
                     <td class="none">Teams arrival and registration </td>
                 </tr>
                 <tr>
                     <td rowspan="2">Oct. 30th. Fri<br />Racing Day 1</td>
                     <td class="twos">Morning</td>
                     <td class="none">Crew Training<br />ADBF Executive Committee Meeting（TBC）<br />Team Leader, Coace, Race Official Joint Meeting</td>
                 </tr>
                 <tr>
                     <td class="twos">Afternoon<br />14:00 - 17:40</td>
                     <td class="none">100m Straight Race<br />DB12 Men & Women, DB22 Mixed<br />DB22 Mixed</td>
                 </tr>
                 <tr>
                     <td rowspan="2">Oct. 31st. Sat.<br />Racing Day 2</td>
                     <td class="twos">Morning<br />09:00 -  11:00</td>
                     <td class="none">200m Straight Race<br />DB12 Men & Women ( Heat, Repechage, Semi-Final )<br />Heat, Repechage, Semi-Final</td>
                 </tr>
                 <tr>
                     <td class="twos">Afternoon<br />14:00 - 16:00</td>
                     <td class="none">500m Straight Race<br />DB22 Mixed Heat, Repechage, Semi-Final</td>
                 </tr>
                 <tr>
                     <td rowspan="2">Nov. 1st. Sun.<br />Racing Day 2</td>
                     <td class="twos">Morning<br />09:00 - 11:45</td>
                     <td class="none">Opening Ceremony<br />100m, 200m, 500m Straight Race<br />DB12 Men & Women, DB22 Mixed<br />Tail Races, Minor Final, Grand Final<br />Victory Ceremony</td>
                 </tr>
                 <tr>
                     <td class="twos">Afternoon<br />18:30</td>
                     <td class="none">Traditional Longzhou Dinner, teams departure.</td>
                 </tr>
                 <tr>
                     <td>Nov. 2nd. Mon.</td>
                     <td>Before Noon</td>
                     <td>Teama, race Officials and delegates departure.</td>
                 </tr>
          </table>
     </div>
     <div class="rule_wrap">
          <p class="area12_title"><i class="area12_icon"></i>联系方式&nbsp;&nbsp;&nbsp;&nbsp;Contact</p>
          <ul class="area12_ul cl">
              <li class="ones">
                  <p class="area12_tit">（一）亚洲龙舟联合会</p>
                  <p class="area12_name">
                  地址：中国北京市东城体育馆路9号 <br />
                  邮编：100763<br />
                  联系人：辛毅<br />
                  联系电话：+86-10-67128832<br />
                  传真：+86-10-67133577<br />
                  电子邮箱：adbfdragon@126.com</p>
              </li>
              <li>
                  <p class="area12_tit">（i）Asian Dragon boat Federatuon (ADBF)</p>
                  <p class="area12_name">Address：No. 9, Tiyuguan Road, Dongcheng District, Beijing, Chia,<br />
                  P.C：100763<br />
                  Contact：Mr. XIN YI<br />
                  Telephone：+86-10-67128832<br />
                  Fax：+86-10-67133577<br />
                  Email：adbfdragon@126.com</p>
              </li>
              <li class="ones">
                  <p class="area12_tit">( 二）赛事组委会（中国广东省佛山市体育局）</p>
                  <p class="area12_name">
                  地址：中国广东省佛山市佛山新城世纪莲体育场<br />
                  邮编：528000<br />
                  联系人：杜东明、彭鹏<br />
                  联系电话：+86-757-63815203<br />
                  传真：+86-757-28780939<br />
                  电子邮箱：dragonboat_foshan@126.com</p>
              </li>
              <li>
                  <p class="area12_tit">( ii）Organizing Committee ( O.C )</p>
                  <p class="area12_name">
                     Address：Century Lotus Stadium, Foshan New City, Foshan, Guangdong, China<br />
                     Post Code：528000<br />
                     Contact：Mr. LIN Xiangzhi, Mr. LIANG Zhijun<br />Telephone：+86-20-83860299、+86-757-28780921<br />
                     Fax：+86-757-28780939<br />
                     Email：275800307@qq.com
                  </p>
              </li>
          </ul>
     </div>
     <div class="rule_wrap">
          <p class="area13_title"><i class="area13_icon"></i>仲裁与裁判&nbsp;&nbsp;&nbsp;&nbsp;Jury and Race Officials</p>
          <div class="area6_tit">
               <p class="cl"><em>（一）</em><span>比赛仲裁由亚洲龙舟联合会统一选派，裁判长由各会员协会推荐1人，经报亚龙联执委会批准后公布，辅助裁判由承办国家/地区协会选派。</span></p>
               <p class="cl"><em>（二）</em><span>各队如进行申诉，按规则要求进行处理。</span></p>
          </div>
          <div class="area13_name">Jury, Technical Delegate, Chief Official, Assist Chief Officials are appointed by the ADBF, the name list of Race Officials shall be approved by the ADBF Executive Committee, from the application from ADBF Members. Each member can propose 1 race official. Local race officials shall be nominated by the hosting Association / Federation.</div>
     </div>
     <div class="rule_wrap">
          <p class="area14_title"><i class="area14_icon"></i>未尽事宜另行通知，本信息公告最终解释权归亚洲龙舟联合会<span>Matters not will be notified otherwise, the ADBF reserves all rights regararding the interpretaion of this information bulletin.</span></p>
          <p class="area14_tit">附件/Appendix：</p>
          <div class="area14_form">
               <a href="javascript:void">最终报名表 / Confirmed Entry Form</a>
               <a href="javascript:void">姓名报名表 / Named Entry Form</a>
               <a href="javascript:void">住房预定表 / Accommodation Booking Form</a>
               <a href="javascript:void">汇 款 指 南 / Guide for Bank Fransfer</a>
          </div>
     </div>
</div>
<!--{template common/footer}-->