@charset "utf-8";
/* CSS Document 379be9 1669AB 333438 38b0d2 308eaf*/
html{color:#333; margin: 0; padding: 0;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,ul,li{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select,strong{font-family:inherit;font-size:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}.clear{height:0;font-size:0;line-height:0;clear:both; display:block;}body{font-size:12px;background-color:#f5f5f5;font-family: '宋体';text-align:left;color:#333; line-height:20px;}a{color:#000;text-decoration:none;}a:hover{color:#1669AB;}.fl{ float:left}.fr{ float:right}.cl{zoom:1;}.cl:after{content:'\0020';display:block;height:0;clear:both;}.blank10{ height: 10px; clear: both; visibility: hidden; display: block;}.blank25{ height: 25px; clear: both; visibility: hidden; display: block;}.blank20{ height: 20px; clear: both; visibility: hidden; display: block;}@font-face {font-family: 'iconfont';src: url('../common/images/font/iconfont.eot');src: url('../common/images/font/iconfont.eot?#iefix') format('embedded-opentype'),url('../common/images/font/iconfont.woff') format('woff'),url('../common/images/font/iconfont.ttf') format('truetype'),url('../common/images/font/iconfont.svg#iconfont') format('svg');}.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}.content{ width: 1000px; margin: 0 auto;}
/*header-footer*/
.top_area{ height: 330px; width: 100%; background: url(../common/images/top_bannerbg.jpg) no-repeat center top;}
.nav_area{ background: #474750; height: 70px; line-height: 70px;}
.nav_menu{ margin: 0 auto; width: 1000px;}
.nav_menu li{ float: left;}
.nav_menu li a{ font-size: 22px; line-height: 70px; height: 70px; display: block; color: #fff; padding: 0 28px; font-family: 'Microsoft YaHei'; margin-right: 1px;}
.nav_menu li a span{ display: none;}
.nav_menu li:hover,.nav_menu li.onhover{ background: #f22727;}
.widget{ border: 1px solid #efefef; background: #fff;}.widcom{ padding: 18px; overflow: hidden; margin-bottom: 25px;}
.widget_hd{ position: relative; font-size: 18px; padding-left: 15px; font-family:'Microsoft YaHei';}
.widget_hd::before{ content:''; width: 0; height: 0; display:block; color: #f23636; margin-right: 8px; border-left: 4px solid #f23636; position: absolute; left: 2px; top: 2px; height: 18px;}
.widget_bd{ padding-top: 25px;}
.more_s{ position: absolute; right: 0px; top: 1px; background: url(../common/images/j_icon.png) no-repeat 5px 2px; width: 19px; height: 19px; display: block;}
.index_pd{ margin-bottom: 25px;}
.more_page{ margin: 10px 0;}
.ajax_more{ background: #e9e9e9; font-size: 16px; color: #808080; height: 35px; line-height: 35px; display: block; width: 100%; text-align: center; font-family: 'Microsoft YaHei';}
/*index*/
.fullSlide{ width:635px; height: 355px; float: left; position: relative; overflow: hidden; font-family:'Microsoft YaHei'; overflow: hidden;}
.layerbd{position:relative;}
.layerbd li{ width:100%; height:355px; overflow:hidden; position: relative;}
.layerbd li a{ display:block; width:100%; height:355px;}
.layer_name{ position: absolute; left: 0; bottom: 0;z-index: 9999; height: 40px; width: 80%; overflow: hidden;}
.layer_name span.title{ text-indent:10px; font-size: 18px; line-height: 40px; z-index: 999; width: auto; height: 40px; color: #fff; background: none; }
.layerhd{ width:100%; height:40px; position:absolute; left: 0; bottom: 0; text-align:center; z-index:23; background: rgba(0,0,0,.5); text-align: right;}
.layerhd li{ display:inline-block; background:#b2b2b2; cursor:pointer; margin-top:15px; margin-right:10px;border-radius:50%; vertical-align:middle; width:8px; height:8px; z-index:5; text-indent:-999em; line-height: 40px; overflow: hidden;}
.layerhd li.on{ border: 2px solid #fff; background: none;}
.in_notice{ float:right; width: 304px; height: 317px; overflow: hidden; padding: 18px;}
.in_notice_bd li{ margin-bottom: 29px; padding-left: 9px; position: relative;}
.in_notice_bd li::before{ content: ''; display: block; position: absolute; left: 0px; top: 10px; border: 1px solid #f23636;}
.in_notice_bd li a{ display: block; font-size: 14px; line-height: 22px; color: #808080; font-family: 'Microsoft YaHei';}
.teamMain{ overflow: hidden; width: 960px;}
.teamMain .next,.teamMain .prev{ float: right; display:block; border: 1px solid #e6e6e6; width: 35px; height: 23px; margin-right: -1px; background:url(../common/images/next_prev.png) no-repeat -999em -999em; cursor: pointer; overflow: hidden;}
.teamMain .next{ background-position:-35px 0;}.teamMain .prev{ background-position: 0 -23px;}
.teamMain .nextStop{ background-position: -35px -23px; cursor: default;}.teamMain .prevStop{ background-position:0 0;}
.team_bd{ padding-top: 25px; margin-bottom: 10px;}
.team_bd li{ width: 94px; margin-right: 22px; margin-left: 21px; float: left; text-align: center;}.team_bd li a{ display:block; }
.team_bd li img{ width: 94px; height: 94px;}.team_bd li a .team_name{ margin-top: 5px; display: block; line-height: 20px; color: #808080; font-size: 14px; font-family: 'Microsoft YaHei';}
.index_left{ width: 635px;}.new_main{width: 603px; overflow: hidden; padding: 15px;}
.in_newlist{ padding-top: 10px;}
.in_newlist li{ margin-bottom: 20px; padding-top: 20px; position: relative;}
.in_newlist li .thumb{ position: absolute; left: 0; top: 20px; width: 220px; height: 124px; display: block;}
.in_newlist li .thumb img{ width: 100%; height: 100%;}
.in_newlist .info_rs{ padding-left: 235px;}
.in_newlist .info_rs .title{ margin: 0 0 15px; font-size: 18px; font-family: 'Microsoft YaHei'; font-weight: normal; height: 26px; line-height: 26px; overflow: hidden;}
.in_newlist .info_rs .intro{ color: #808080; line-height: 22px; margin-bottom: 23px;}
.in_newlist .posttime,.in_newlist .author{ color: #808080; margin-right: 20px;}
.index_right{ width: 342px;}
.result_list li{ padding-left: 9px; position: relative; margin-bottom: 10px;}
.result_list li::before{ content: ''; display: block; position: absolute; left: 0; top: 10px; border: 1px solid #808080;}
.result_list li a{ display: block; font-size: 14px; line-height: 22px; color: #808080; font-family: 'Microsoft YaHei';}
.pic_list{ width: 320px; margin-left: -9px;}
.pic_list li{ float: left; width: 140px; margin-left: 9px; margin-right: 9px; margin-top: 25px;}
.pic_list li a.col_img{ display: block; width: 140px; height: 80px; position: relative;}
.pic_list li a.col_title{ display: block; overflow: hidden; font-size: 12px; height: 36px; line-height: 18px; color: #808080; margin-top: 5px;}
.pic_list li a.col_title:hover{ color: #f23636;}
.pic_list li a .icon_v{ position: absolute; left: 50%; top: 50%; background: url(../common/images/vide_micon.png) no-repeat 0 0; margin-left: -15px; margin-top: -15px; width: 30px; height: 30px;}
.pic_list li a:hover .icon_v{ background-position: 0 -35px;}
/*picture-video*/
.container{ width: 1000px; margin: 0 auto; overflow: hidden;}
.picture_list{ width: 1023px;}
.picture_list li{ float:left; margin-right: 25px; margin-bottom: 25px;}
.picture_list li a.col_pic{ display: block; border: 1px solid #efefef; background: #fff; padding: 7px;}
.picture_list li a.col_pic:hover{ border: 1px solid #f22727;}
.picture_list li .pic_img{ width: 300px; height: 170px; position: relative;}
.picture_list li a .icon_v{ background: url(../common/images/video_icon.png) no-repeat 0 0; width: 58px; height: 58px; margin-left: -29px; margin-top: -29px; position: absolute; left: 50%; top: 50%;}
.picture_list li a:hover .icon_v{ background-position: 0 -60px;}
.picture_list li .pic_name{ margin: 12px 0; width: 300px; color: #808080;font-size: 14px; line-height: 20px; font-family: 'Microsoft YaHei'; height: 20px; overflow: hidden;}
.picture_list li .pic_time{ color: #808080; margin-bottom: 15px;}
.more_common{ margin-bottom: 20px;}
.more_common .ajax_more{ height: 50px; line-height: 50px;}
.url_here{ height: 40px; line-height: 40px; text-align: left;}
.url_here a,.url_here em{ float: left; margin: 0 5px; color: #808080;}
.url_here a:hover{ text-decoration: underline;}

/*detail*/
.detail_l{ border: 1px solid #efefef; background: #fff; padding: 20px; width: 593px;}
h1.deta_tit{ font-size: 20px; font-family: 'Microsoft YaHei'; color: #383838; padding-bottom: 10px; font-weight: 400; padding-top: 10px; line-height: 25px;}
.titleDown span.tit{ float: left; margin-right: 22px; color: #808080;}
.deta_content{ font-size: 14px; line-height: 27px; color: #808080; margin: 20px 0 30px;}
.deta_content a img { width:593px;}
.result_uls li{ margin-bottom: 23px;}
.result_uls li a{ font-size: 20px; color: #383838; font-family: 'Microsoft YaHei'; line-height: 23px;}
.result_uls .res_area{ margin: 5px 0;}
.result_uls .res_area span{ margin-right: 20px; color: #808080;}
.deta_download{ width: 250px; margin: 0 auto 50px;}
.deta_download a{ height: 50px; line-height: 50px; color: #fff; text-align: center; color: #fff; font-family: 'Microsoft YaHei'; background: #ce3838; display: block;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-ms-border-radius:8px; border-radius: 8px; font-size: 20px;}
.deta_download a:hover{ background: #f22727;}
/*rule*/
.area2_icon,.area3_icon,.area4_icon,.area5_icon,.area6_icon,.area7_icon,.area8_icon,.area9_icon,.area10_icon,.areaa11_icon,.area12_icon,.area13_icon,.area14_icon{background: url(../common/images/rule_icon.png) no-repeat -999em -999em;}
.rule_main{ background: #fff; border: 1px solid #efefef; width: 998px; margin: 0 auto 20px; padding: 80px 0; font-family: 'Microsoft YaHei';}
.rule_center{ margin: 0 auto; width: 820px; border-bottom: 1px solid #e6e6e6; text-align: center; color: #f22727;}
.rule_center h1{ font-size: 30px; font-weight: normal; height: 40px; line-height: 40px;}
.rule_center p{ margin: 10px 0 18px; font-size: 18px;}
.rule_wrap{ width: 820px; margin: 8px auto 0px; border-top: 1px solid #e6e6e6; padding: 35px 0 58px;}
.area1_title{ font-size: 18px; color: #3f3f3f; margin-bottom: 18px;}
.area1_tit{ font-size: 16px; line-height: 25px; color: #808080; margin-bottom: 38px; text-indent: 2em;}
.area1_to{ font-size: 16px; color: #3f3f3f; margin-bottom: 15px;}
.area1_name{ color: #808080; line-height: 25px; font-size: 14px;}
.area2_title{ color: #29abe2;font-size: 28px; line-height: 33px; vertical-align: top; margin-left: -48px; margin-bottom: 37px;}
.area2_title .area2_icon{ background-position: 0 0; width: 33px; height: 33px; display: inline-block; margin-right: 15px;}
.area2_tit{ font-size: 20px; color: #808080; margin-bottom: 15px;}
.area2_name{ font-size: 16px; color: #b3b3b3;}
.area3_title{ color: #c69c6d; font-size: 28px; line-height: 37px; vertical-align: top; margin-left: -42px; margin-bottom: 37px;}
.area3_title .area3_icon{ background-position: 0 -33px; width: 27px; height: 37px; display: inline-block;margin-right: 15px;}
.area3_tit{ font-size: 20px; color: #808080; margin-bottom: 15px;}
.area3_name{ font-size: 16px; color: #b3b3b3; line-height: 25px;}
.area4_title{ color: #64cb9d; font-size: 30px; line-height: 31px; vertical-align: top; margin-left: -42px; margin-bottom: 44px;}
.area4_title .area4_icon{ background-position: 0 -70px; width: 27px; height: 31px; display: inline-block; margin-right: 15px;}
.area4_mian{ width: 820px; overflow: hidden;}
.area4_ul{ width: 900px;}
.area4_ul li{ border-right: 1px solid #e6e6e6; width: 225px; padding-right: 35px; margin-right: 35px; float: left;}
.area4_tit{ font-size: 20px; color: #808080; line-height: 28px; margin-bottom: 18px;}
.area4_name{ font-size: 14px; color: #b3b3b3; line-height: 22px;}
.area5_title{ color: #f261a1; font-size: 30px; line-height: 33px; vertical-align: top; margin-left: -48px; margin-bottom: 42px;}
.area5_title .area5_icon{ background-position: 0 -101px; width: 33px; height: 33px; display: inline-block; margin-right: 15px;}
.area5_tit{ color: #808080; font-size: 16px; line-height: 28px; margin-bottom: 24px;}
.area5_name{ color: #b3b3b3; font-size: 16px; line-height: 25px;}
.area6_title{ font-size: 30px; color: #8c6239; line-height: 32px; vertical-align: top; margin-left: -39px; margin-bottom: 48px;}
.area6_title span{ margin-left: 39px; display: block;}
.area6_title .area6_icon{ background-position: 0 -134px; width: 24px; height: 32px; display: inline-block; margin-right: 15px;}
.area6_tit{ font-size: 16px; color: #808080; line-height: 28px; margin-bottom: 48px;}
.area6_tit em{ float:left; display: block; width: 50px; }.area6_tit span{ float: left; display:block; width: 770px;}
.area6_name{ color: #b3b3b3;font-size: 16px; line-height: 25px;}
.area6_name em{ float: left;display: block; width: 40px; text-align: center;}.area6_name span{ float:left; display: block; width: 780px;}
.area7_title{ font-size: 30px; color: #29abe2; line-height: 30px; vertical-align: top; margin-left: -52px; margin-bottom: 50px;}
.area7_title .area7_icon{ background-position: 0 -166px; width: 37px; height: 30px; display: inline-block; margin-right: 15px;}
.area8_title{ color: #f15a24; font-size: 30px; line-height: 32px; vertical-align: top; margin-left: -48px; margin-bottom: 23px;}
.area8_title .area8_icon{ background-position: 0 -196px; width: 33px; height: 32px; display:inline-block; margin-right: 15px;}
.area8_ul li{ margin-top: 22px; background: #fef4e8; padding: 10px 50px; width: 720px; text-align:center;}
.area8_tit{ color: #808080; font-size: 19px; margin-bottom: 10px; line-height: 29px;}
.area8_name{ color: #b3b3b3; font-size: 16px;}
.area9_title{ font-size: 30px; color: #8dc58c; line-height: 33px; vertical-align: top; margin-left: -48px; margin-bottom: 64px;}
.area9_title .area9_icon{ background-position: 0 -228px; width: 33px; height: 33px; display: inline-block; margin-right: 15px;}
.area9_table{ border-bottom: 1px solid #e6e6e6; margin-bottom: 14px;}
.area9_table th{padding: 10px 0 10px 22px; font-size: 20px; color: #3f3f3f;}
.area9_table th,.area9_table td{ border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;}
.area9_table th.none,.area9_table td.none{ border-right: none;}
.area9_table td{ line-height: 28px; font-size: 16px; color: #808080; padding: 10px 0 10px 22px;}
.area9_name{ margin-left: 45px; color: #b3b3b3; font-size: 14px; line-height: 25px;}
.area10_title{ font-size: 30px; color: #00a99d; line-height: 33px; vertical-align: top; margin-left: -48px; margin-bottom: 48px;}
.area10_title .area10_icon{ background-position: 0 -261px; width: 35px; height: 33px; display: inline-block; margin-right: 15px;}
.area11_title{ color: #e09396; font-size: 30px; line-height: 34px; vertical-align: top; margin-left: -49px; margin-bottom: 60px;}
.area11_title .areaa11_icon{ background-position: 0 -294px; width: 34px; height: 34px; display: inline-block; margin-right: 15px;}
.area11_table{border-bottom: 1px solid #e6e6e6;}
.area11_table th{ font-size: 20px; color: #3f3f3f;}
.area11_table th.twos,.area11_table td.twos{ text-align: center; padding-left: 0}
.area11_table th,.area11_table td{ border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;padding: 10px 0 10px 55px;}
.area11_table th.none,.area11_table td.none{ border-right: none;}
.area11_table td{ line-height: 28px; font-size: 16px; color: #808080;}
.area12_title{ color: #f15a24; font-size: 30px; line-height: 33px; vertical-align: top; margin-left: -48px;}
.area12_title .area12_icon{ background-position: 0 -328px; width: 33px; height: 33px; display: inline-block; margin-right: 15px;}
.area12_ul{ margin-left: -40px;}
.area12_ul li{ margin-top: 60px; margin-left: 20px; float: left; width: 460px;}
.area12_ul li.ones{ width: 340px;}
.area12_tit{ color: #3f3f3f; font-size: 16px; margin-bottom: 28px;}
.area12_name{ color: #808080; font-size: 16px; line-height: 28px;}
.area13_title{ font-size: 30px; color: #c69c6d; line-height: 30px; vertical-align: top; margin-left: -48px; margin-bottom: 38px;}
.area13_title .area13_icon{ background-position: 0 -361px; width: 33px; height: 30px; display: inline-block; margin-right: 15px;}
.area13_name{ font-size: 16px; color: #b3b3b3; line-height: 28px;}
.area14_title{ color: #836a9e; font-size: 30px; line-height: 33px; vertical-align: top; margin-left: -40px; margin-bottom: 100px;}
.area14_title span{ display:block; margin-left: 40px; line-height: 35px;}
.area14_title .area14_icon{ background-position: 0 -391px; width: 25px; height: 33px; display: inline-block; margin-right: 15px;}
.area14_tit{ color: #666; font-size: 16px; margin-bottom: 45px;}
.area14_form{ width: 600px; margin: 0 auto;}
.area14_form a{ display: block; height: 49px; text-align: center; line-height: 49px; background: #f7931e; border: 1px solid #d87e25; color: #fff; font-size: 23px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px; border-radius: 10px; margin-bottom: 15px;}